<h1 style="text-align: center;">
  {{title}}
</h1>

<form action="">

  <input type="text" name = "nombre" [(ngModel)]="nombre"><br>
  <input type="text" name = "apellido" [(ngModel)]="apellido"><br>
  <input type="submit" value="Registrar" (click)="registroUsuario()">
</form>
<br>
<p *ngIf="registro; else sinRegistro">
  {{mensaje}}
</p>

<ng-template #sinRegistro>

  <p>Nadie registrado</p>

</ng-template>

<br> <br>

<h1>Ng For</h1>

<ul>

  <li *ngFor="let entrada of entradas">
      {{ entrada }}
  </li>
</ul>